map!


<!--- old dancar.js stuff -->
<div class="app container-fluid">
    <section class="client row">
        <div class="error alert alert-danger" style="display: none;"></div>
        <div class="status alert alert-info" style="display: none;"></div>

        <div class="not-logged-in" style="display: none;">
            <h2>Not logged in</h2>
            You must <a href="/user/sign-in">log in</a> to use DanCar
        </div>
        <div class="logged-in" style="display: none;">
            Logged in!
        </div>
    </section>
    <section class="map row logged-in">
        map here            
        <div id="map-canvas">Loading map...</div>
    </section>
</div>