<script>
    $(function() {
        var danc = new Dancar();

        function status(msg) {
            $(".client .status.alert").text(msg).fadeIn();
        }

        // got updated coordinates
        function positionUpdated(position) {
            $(".client .error.alert").hide();
            status("Position updated: " + position.coords.longitude + ", " + position.coords.latitude);
        }

        function positionError(errStr) {
            $(".client .error.alert").text(errStr).fadeIn();
        }

        function loggedIn() {
            $(".client .not-logged-in").hide();
            $(".client .logged-in").fadeIn();
        }

        function notLoggedIn() {
            $(".client .logged-in").hide();
            $(".client .not-logged-in").fadeIn();            
        }

        function updateLoginStatus() {
            var isLoggedIn = danc.loggedIn;
            danc.getUserInfo(function(res) {
                if (isLoggedIn && res === false) {
                    notLoggedIn();
                } else if (! isLoggedIn && res) {
                    loggedIn();
                }
            });
        }

        function updateUserMap() {
            danc.updateUserMap();
        }

        status("Initializing DanCar...");
        danc.initializeMap();
        danc.initializeGeolocating(positionUpdated, positionError);
        updateLoginStatus();
        window.setInterval(updateLoginStatus, 5000);
        window.setInterval(updateUserMap, 2000);
    });
</script>

<section class="client">
    <div class="error alert alert-danger" style="display: none;"></div>
    <div class="status alert alert-info" style="display: none;"></div>

    <div class="not-logged-in" style="display: none;">
        <h2>Not logged in</h2>
        You must <a href="/user/sign-in">log in</a> to use DanCar
    </div>
    <div class="logged-in" style="display: none;">
        Logged in!
    </div>
</section>
