{% block head %}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCyGGCtHnMtJITwVg8wiiLKqVSG3yhQyPU"></script>
{% endblock %}

{% block content %}
    <div id="map-canvas">Loading map...</div>

    <script>
        $(function() {
            var map;
            var markers = {};  // id => marker

            setupMap();
            registerLocationUpdatesPolling();
            updateLocationPoll();

            /////

            function setupMap() {
                var mapOptions = {
                    zoom: 14,
                    center: new google.maps.LatLng(37.88, -122.26),
                    mapTypeId: google.maps.MapTypeId.HYBRID
                };
                map = new google.maps.Map(document.getElementById('map-canvas'),
                mapOptions);
            }

            function updateMarker(user) {
                if (! user) return;

                var id = user.id;
                var lng = user.lng;
                var lat = user.lat;

                if (! user || ! id || ! lng || ! lat) return;
                    var marker = markers[id + ""];
                    var pos = new google.maps.LatLng(lat, lng);

                    if (marker) {
                        marker.setPosition(pos);
                    } else {
                        // create new marker
                        marker = new google.maps.Marker({
                            'map': map,
                            'position': pos,
                            'draggable': false,
                            'title': user.name
                        });
                        markers[id + ""] = marker;

                        var $win = $("<div/>");
                        $win.append($("<div/>").text(user.name));
                        $win.append($("<div/>").text(user.updated_location));
                        var win = new google.maps.InfoWindow({
                            'content': $win.get(0)
                        });
                        win.open(map, marker);
                    }
                         
                    map.panTo(pos);
                    map.setZoom(18);
            }

            function registerLocationUpdatesPolling() {
                window.setInterval(updateLocationPoll, 2500);
            }

            function updateLocationPoll() {
                $.get('/api/user/info', function(res) {
                    updateMarker(res);
                });
            }

            // listen for updates with WebSocket
            function registerLocationUpdatesWS() {
                var loc = window.location, wsUrl;
                if (loc.protocol === "https:") {
                    wsUrl = "wss:";
                } else {
                    wsUrl = "ws:";
                }
                wsUrl += "//" + loc.host + "/echo";

                var ws = new WebSocket(wsUrl);
                ws.onopen = function(evt) {
                    console.log(evt);
                    ws.send("yo what up");
                };            
            }


            /*

                
                log_it("got message: " + JSON.stringify(e));
            } );
            
            
            var mapOptions = {
                zoom: 14,
                center: new google.maps.LatLng(37.88, -122.26),
                mapTypeId: google.maps.MapTypeId.HYBRID
            };
            map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);
            */
        });
    </script>
{% endblock %}