/**
 * Import fonts either via @import url (e.g. from Googlee Fonts)
 * or via @font-face when font files are stored locally in /app/fonts
 */


@font-face {
  font-family: 'Lato-Regular';
  src: url(../fonts/Lato-Regular.ttf) format("truetype");
  font-style: normal;
}

@font-face {
  font-family: 'LuckiestGuy';
  src: url(../fonts/LuckiestGuy.ttf) format("truetype");
  font-style: normal;
}
