<div class="app container-fluid">
  <section class="client">

    <!--<div class="status">{{ status }}</div>-->

      <h4 ng-hide="loggedIn">Not logged in! You must <a ng-click="$location.path('/sign')">log in</a> to use DanCar</h4>

      <h4 ng-show="loggedIn">Logged in!</h4>
  </section>
  <section class="map logged-in">
    <div ng-hide="showMap">Loading map...</div>
    <div ng-show="showMap" id="map-canvas"></div>
  </section>
</div>

<div class="alert-mail bar bar-header bar-assertive" ng-show="alertVisible">
  <h1 class="title"> {{ alertMessage }} </h1>
</div>

