<div class="sign-in">
  <div class="form">
    <h1 class="big">DanCar</h1>

    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">Enter Email</span>
        <input id="email" type="text" class="form-control" placeholder="Enter Email" ng-model="user.mail">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Enter Password</span>
        <input id="password" type="password" class="form-control" placeholder="Enter Password" ng-model="user.password">
      </label>
    </div>
    <button class="button" id="btn-sign-in" ng-click="validation()">Sign in</button>
  </div>
</div>

<div class="alert-mail bar bar-header bar-assertive" ng-show="alertVisible">
  <h2 class="title"> {{ alertMessage }} </h2>
</div>


