<div class="sign-in">
  <div class="form">
    <div class="list">
      <label class="item item-input">
        <input id="email" type="text" class="form-control" placeholder="Enter Email" ng-model="user.mail">
      </label>
      <label class="item item-input">
        <input id="password" type="password" class="form-control" placeholder="Enter Password" ng-model="user.password">
      </label>
    </div>
    <button class="button" id="btn-sign-in" ng-click="validation()">Sign in</button>
  </div>
</div>

<div class="alert-mail bar bar-header bar-assertive" ng-show="alertVisible">
  <h1 class="title"> {{ alertMessage }} </h1>
</div>


